@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

.container-reg-form input {
    border: none;
}

.container-reg-form button:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
    color: #fff;
}

.highlight {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    cursor: pointer;
    transition: color .2s ease;
}

.highlight:hover {
    color: #fff;
    transition: color .2s ease;
}

.spacing {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 120px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.65)
}

.input-line:focus {
    outline: none;
    border-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.ghost-round {
    margin-top: 22px !important;
    cursor: pointer;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.65);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 19px;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    line-height: 2.5em;
    margin-bottom: 25px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.ghost-round:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.input-line {
    background: none;
    margin-bottom: 10px;
    line-height: 2.4em;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
    font-size: 19px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65) !important;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.full-width {
    width: 100%;
}

.input-fields {
    margin-top: 25px;
}

.container-reg-form {
    background-image: linear-gradient(291deg, rgba(33,212,253, .8) 0%, rgba(133,33,255, .8) 100%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    z-index: 5;
}

.welcome {
    font-weight: 200;
    margin-top: 75px;
    text-align: center;
    line-height: 2.5em;
    font-size: 40px !important;
    font-size: 2.5rem;
    letter-spacing: 0px;
    letter-spacing: 0.05rem;
}

.subtitle {
    text-align: center;
    line-height: 1.5em;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
}

.menu {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 50px;
}

.window {
    z-index: 100;
    color: #fff;
    font-family: "Raleway", sans-serif;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-sizing: border-box;
    height: 660px;
    background: #fff;
    background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
}
.container-reg-form .window {
    width: 400px;
}
@media (max-width: 500px) {
    .container-reg-form .window {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.overlay {
    opacity: 0.85;
    filter: alpha(opacity=85);
    height: 560px;
    position: absolute;
    width: 360px;
    z-index: 1;
}

.bold-line {
    background: #e7e7e7;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 100%;
    height: 360px;
    z-index: 1;
    opacity:0.1;
    background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') left no-repeat;
    background-size:cover;
}

@media (max-width: 500px) {
    .window {
        width: 100%;
        height: 100%;
    }
    .overlay {
        width: 100%;
        height: 100%;
    }
}
.error{
    border-color: red !important;
    border-bottom-color: red !important;
}
.container-reg-form-home .windows {
   
}
.container-reg-form-home {
    background-image: linear-gradient(291deg, rgba(33,212,253, .8) 0%, rgba(133,33,255, .8) 100%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.windows {
    z-index: 100;
    color: #fff;
    font-family: "Raleway", sans-serif;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-sizing: border-box;
    height: 550px;
    background: #fff;
    background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
}
.input-lines.full-widths {
 
  border: 2px solid white;
  border-bottom: 2px solid;
}

.input-line {
  border: 2px solid;
  border-bottom: 2px solid;
 
}
.input-line.full-width.input-lines.full-widths {
  border-bottom: 2px solid !important;
}

.input-line.full-width.input-lines.full-widths.error {
  border-bottom: 2px solid red !important;
}

.col-sm-3.reg_name {
  padding-bottom: 30px;
  padding-top: 40px;
  font-size: 16px;
}

.row.reg_btn {
  padding-top: 30px;
}

.forget-btn {
  background-color: #2771db;
  border-color: #2771db;
  color: white;
}
.input-line.full-width {
  padding-left: 7px;
  height: 40px;
  border-radius: 4px;
}
.welcomes {
    position: relative;
     margin-top: 11px;
 }
.welcomes::after {
  background: #fff none repeat scroll 0 0;
  content: "";
  display: block;
  height: 4px;
  margin: 0 auto;
  position: relative;
  width: 50px;
  top: -10px;
}
.subtitles {
  padding-top: 10px ;
}

.col-sm-3.col-xs-12.reg_name.required::after {
  color: red;
  content: "*";
  padding-left: 4px;
  margin-top: 5px;
}
/* do not group these rules */
*::-webkit-input-placeholder {
    color: white;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: white;
    opacity: 1;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: white;
    opacity: 1;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}
*::placeholder {
    /* modern browser */
    color: white;
}

.btn.btn-lg.btn-primary.register-lending-button.ghost-round.full-width.register-now {
  color: white !important;
  font-size: 14px ;
}
.col-sm-3.col-xs-12.reg_name.required {
  font-weight: bold;
}
.forgot-pass-container.frgt_pass {
  font-weight: bold;
  font-size: 16px;
}
.ghost-round.full-width.register-now.register_btn {
  height: 54px;
  border: 2px solid white;
  font-size: 16px;
  color: white;
  border: medium none red;
  border-radius: 10px;
  background-color: #076EB6;
  font-weight: bold;
}
.ghost-round.full-width.register-now.register_btn:hover {
  background-color: #2771DB;
  border-color: #204d74;
  color: #fff;
}


@media (max-width: 767px) {
    .welcome {
        line-height: 1.5em;
    font-size: 24px !important;
    }
    .welcomes::after {
        top: -2px;
    }
    .col-sm-3.reg_name {
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 16px;
    }
    .subtitle
    {
        font-size:16px;
    }
}